@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

$font-nunito: 'Nunito', sans-serif;
$color-white: #FFFFFF;
$color-gray: #959595;
$color-purple: #9105FF;
$color-dark: #1A1A1A;
$color-red: #FF6C6C;
